<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
        <title>CRUD</title>
    </head>
    <body style="background-color: ghostwhite">
        <v-app id="app">
            <index-component></index-component>
        </v-app>
        <script src="/public/build/bundle.main.js"></script>
    </body>
</html>